# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*.rs text eol=lf
* text=auto

# Check for whitespace errors
* whitespace=tab-in-indent,tabwidth=2

.gitattributes export-ignore
.gitignore export-ignore
